<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="sim" class="com.example.ioc.Jio"/>



    <!-- setter injection -->
    <bean id = "alex" class = "com.example.dependency_injection.Student">
        <property name="id" value="1"/>
        <property name="studentName" value="Alex Yamaoka"/>
    </bean>


    <bean id = "kevin" class = "com.example.dependency_injection.Student">
        <property name="id" value="2"/>
        <property name="studentName" value="Kevin Hart"/>
    </bean>





    <!-- constructor injection -->
    <bean id = "student" class = "com.example.dependency_injection.Student">
        <constructor-arg name="id" value="3" type = "int"/>
        <constructor-arg name="studentName" value="Tom Cruise"/>
    </bean>





    <!--injecting objects types -->
    <bean id = "cheatingStudent" class = "com.example.di_object_type.Student">
        <property name="id" value="1001"/>
        <property name="mathCheat">
            <bean class="com.example.di_object_type.MathCheat"/>
        </property>
    </bean>

</beans>


