<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="sim" class="com.example.ioc.Jio"/>



    <!-- setter injection -->
    <bean id = "alex" class = "com.example.dependencyInjection.Student">
        <property name="id" value="1"/>
        <property name="studentName" value="Alex Yamaoka"/>
    </bean>


    <bean id = "kevin" class = "com.example.dependencyInjection.Student">
        <property name="id" value="2"/>
        <property name="studentName" value="Kevin Hart"/>
    </bean>





    <!-- constructor injection -->
    <bean id = "student" class = "com.example.dependencyInjection.Student">
        <constructor-arg name="id" value="3"/>
        <constructor-arg name="studentName" value="Tom Cruise"/>
    </bean>


</beans>


